
:root {
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-gray-light:#E1E1E1;
  --basic-white: #FFFFFF;
  --basic-gray-saturated:#C1C1C1;

  --special-pink: #FB565A;
  --special-pink-dark:#E74246;
  --special-pink-extra:#D7373B;
  --special-green: #00CA74;
  --special-green-dark: #00BC6C;
  --special-green-extra:#00AA62;
  --special-yellow: #EFC849;
  --special-yellow-dark: #EAB534;
  --special-yellow-extra: #E5A722;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height:auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Grid */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */
.main-hedder-logo{
  margin-top: 50px;

}
.main-hedder {
  width:100%;
  background-color: var(--basic-gray);
}

 /*Conteiner*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main navigation*/
.main-navigations {
  display: grid;
  grid-template-columns: 160px min-content 115px;
  grid-column-gap: 202px;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-navigations a {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}
.main-navigations ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 30px;
}
.site-navigation {
  display: flex;
  width: 485px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 78px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}
.site-navigation: nth-child(4n) {
  margin-left: 0;
}
.site-navigation li {
  margin-right: 45px;
}
.active::after {
  margin-top: 13px;
  display: block;
  content: "";
  height: 2px;
  background: var(--special-pink);
}
.site-navigation a: not ([href]){
  background-color: var(--basic-gray);
}
/* Login link */
.user-navigation {
  margin-top: 75px;
  margin-bottom: 30px;
}
/*basket-link*/
.basket-link:before{
  content: "";
  position: absolute;
  left: -5px;
  top: 2px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation .basket-link {
  padding-left: 36px;
  position: relative;
}
/* User navigation */
.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}
.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--special-pink);
}
.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* slaider */
.slider {
  background-color: var(--basic-gray);
  position: relative;
  padding-bottom: 80px;
}
.slider-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-gray);
}
.slaider-item {
  width: 440px;
  padding: 0;
}
.slaider-item h3 {
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 28px;
}
.slaider-item p {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 35px;
}
.slide {
  display: none;
}
.slide-current {
  display: flex;
}
/*.slider-controls .current {
  background-color: #ffffff;
}*/
.slider input[type=radio] {
  display: none;
}
.slider-dots-wrp {
  position: absolute;
  bottom: 106px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 50;
}
.slider-dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background: #fff;
  border: 5px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}
.slider-dot::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  right: 2px;
}

#btn-1:checked ~ .slider-dots-wrp .slider-dot[for="btn-1"],
#btn-2:checked ~ .slider-dots-wrp .slider-dot[for="btn-2"],
#btn-3:checked ~ .slider-dots-wrp .slider-dot[for="btn-3"] {
  background: var(--basic-gray-saturated);
}

.slide-wrapper-1 {
  background-image: url("../img/nerds-index-slide1-1.png");
  position: absolute;
  width: 760px;
  height: 431px;
  left: 400px;
  top: -20px;
}

.site-wrapper-2 {
  background-color: var(--basic-gray);
  background-image: url("../img/nerds-index-slide2-1-1.png");
}

.site-wrapper-3 {
  background-color: var(--basic-gray);
  background-image: url("../img/nerds-index-slide3-1.png");
}
.button-slaider {
  padding: 16px 54px;
  margin-top: 38px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--special-pink);
  color: var(--basic-white);
  border-radius: 3px;
}
.button-slaider:hover,
.button-slaider:focus{
  background-color: var(--special-pink-dark);
}

.button-slaider:active{
  background-color: var(--special-pink-extra);
}
.slider-controls {
  position: absolute;
  width: 88px;
  height: 18px;
  left: 693px;
  top: 307px;
  z-index: 20;
}
.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* Projects */
.projects {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
}
.projects-item {
  text-align: left;
}

.projects-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*about-nerdz*/
.about-nerdz {
  display: grid;
  grid-template-columns: 660px 380px;
  column-gap: 140px;
  position: relative;
  margin-top: 70px;
  padding-bottom: 47px;
  color: #283136;
  border-bottom: 2px solid #eee;
}
.about-nerdz-left {
  position: relative;
}
.about-nerdz-right {
  position: relative;
  background-position: center 19px;

}
.about-nerdz-right p {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 29px;
  margin-left: -15px;
}
.about-nerdz-logo {
  margin-top: -30px;
}
.about-nerdz-right ul {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.nerdz-right p {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.nerdz-right-table {
  margin-top: 40px;
}
.nerdz-right-table-row th{
  font-size: 45px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 15px;
  line-height: 18px;
}
.nerdz-right-table-row sup{
  font-size: 26px;
}
.nerdz-right span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}
.about-nerdz-left  span {
  padding: 0;
  padding-top: 45px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-nerdz-left p {
  margin-top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.about-nerdz-left h3 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.about-nerdz-left ul {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  margin-left: 35px;
  font-size: 16px;
  line-height: 24px;
}

.about-nerdz-left li {
  margin-top: 25px;
  margin-left: -70px;
  position: relative;
  margin-bottom: 22px;
}
.rectangle::before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 7px;
  background: var(--special-pink);
}
.about-nerdz-left .rectangle {
  display: flex;
  align-items: center;
}
/*partner*/
.partner-section {
  margin-bottom: 80px;
}
.partners {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 30px;
  margin-bottom: 0;
  list-style: none;
}
.partner-link-border {
  border-right: 2px 52px solid #eee;
}
.partner-link {
  margin-right: 30px;
  align-items: center;
  text-decoration: none;
  opacity: 0.2;
}

.partner-link:focus,
.partner-link:hover {
  opacity: 1;
}
.partner-link:active {
  opacity: 0.2;
}
/*.partners li {
  border-right: 2px 52px solid #eee;
}*/
/*.partners li:last-child {
  border-right: none;
}*/
/* Button */
.Button {
   display: inline-block;
   vertical-align: top;
   font-size: 16px;
   line-height: 18px;
   padding: 15px 40px;
   margin-top: 19px;
   text-decoration: none;
   text-transform: uppercase;
   background-color: var(--special-pink);
   color: var(--basic-white);
   border-radius: 3px;
   border: none;
   cursor: pointer;
}
.Button-navigation a:focus,
.Button-navigation a:hover {
  background-color: var(--special-pink-dark);
}
.Button-navigation a:active {
  background-color: var(--special-pink-extra);
}
.Button-green {
  background-color: var(--special-green);
}
.Button-green-navigation a:active {
  background-color: var(--special-green-extra);
}
.Button-green-navigation a:focus,
.Button-green-navigation a:hover {
  background-color: var(--special-green-dark);
}

.Button-yellow {
  background-color: var(--special-yellow);
}
.Button-yellow-navigation a:focus,
.Button-yellow-navigation a:hover {
  background-color: var(--special-yellow-dark);
}
.Button-yellow-navigation a:active {
  background-color: var(--special-yellow-extra);
}
.Button-catalog-show {
  width: 260px;
  display: block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 15px 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}
.Button-catalog-show:focus,
.Button-catalog-show:hover {
  background-color: #DFDFDF;
}

.Button-catalog-show:active {
  opacity: 0.4;
}
.Button-hover {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border-radius: 5px;
}
.main-footer {
  display: grid;
  grid-template-columns: 1440px min-content min-content;
  position: relative;
  margin-top: 25px;
}
.map {
  position: relative;
  height: 416px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 54px;
}
.contact {
  padding-bottom: 47px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 49px;
  width: 319px;
  background: var(--basic-white);
  box-sizing: border-box;
}
.contact h3 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.contact p {
  font-style: normal;
  margin-top: 23px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
}
.phone {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #666;
}
.button-contact {
  padding: 16px 44px;
  margin-top: 35px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--special-pink);
  color: var(--basic-white);
  border-radius: 3px;
  }
.button-contact:hover,
.button-contact:focus {
  background-color: var(--special-pink-dark);
}

.button-contact:active {
  background-color: #D7373B;
}
.footer-social {
  display: flex;
  padding-bottom: 70px;
}
.footer-social ul {
  list-style: none;
}

.social-navigation{
  display: flex;
  width: 260px;
  margin-right: 140px;
  padding: 0;
  font-size: 0;
  justify-content: space-between;
}

.social-navigation a:hover {
  background-color: var(--special-pink);
}
.social-navigation a:focus {
  background-color: var(--special-pink-dark);
}
.social-navigation a:active {
  background-color: var(--special-pink-extra);
}
.social-link {
  display: inline-block;
  margin-right: 15px;
  width: 77px;
  height: 77px;
  background-color: var(--basic-gray-light);
  border-radius: 50%;
  font-size: 0;
}
.item-vk {
  background-image: url("../img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.item-fb {
  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.item-insta {
  background-image: url("../img/insta-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-text {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 660px;
}
.social-text span {
  margin-left: 20px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  }

.social-text p {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
}
/*page catalog*/
.catalog-title {
  width:100%;
  background-color: var(--basic-gray);
  margin: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  padding-top: 40px;
  padding-bottom: 110px;
}
/* Filters */

.filter {
  width: 260px;
  margin: 0;
}
.filter legend {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
.filter ul {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}
.filter li {
  padding-left: 30px;
  margin-bottom: 15px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 46px;
  border: none;
}
.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/radio-off.png");
  width: 25px;
  height: 25px;
  top: 0px;
  left: -32px;
  opacity: 0.4;
}

input[type=radio]:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: 0px;
  left: -32px;
  position: absolute;
  background-image: url("../img/radio-on.png");
}
.filter-input-checkbox + label::before {
  content: "";
  width: 26px;
  height: 23px;
  top: 0;
  left: -32px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/checkbox-off.png");
  opacity: 0.4;
}

input[type=checkbox]:checked + label::before {
  content: "";
  width: 26px;
  height: 23px;
  top: 0;
  left: -32;
  position: absolute;
  background-image: url("../img/checkbox-on.png");
}
.filter-input-radio+ label:hover::before,
.filter-input-checkbox+ label:hover::before {
  opacity:1;
}
.filter-input-radio+ label:active::before,
.filter-input-checkbox+ label:active::before {
  opacity:.1;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  margin-top: 45px;
}

/*sort*/
.catalog {
  margin-left: 140px;
}
.sort {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 245px;
}
.sort-state {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.sort-state-list {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 27px;
}
.sort-state-list a {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
}
.sort-state-list a:hover {
  opacity: .6;
}
.sort-state-list a:active {
  opacity: 1;
}
.sort-state-list-active a {
  color: #000;
  opacity: 1;
}
.sort-toggle-list {
  display: inline-block;
  margin-left: 37px;
}

.sort-toggle {
  padding-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.sort-toggle-down {
  width: 11px;
  height: 10px;
  margin-right: 10px;
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
}

.sort-toggle-up {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.png");
  opacity: 0.2;
  cursor: auto;
  background-repeat: no-repeat;
}
/*catalog-list*/

.catalog-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  box-sizing: border-box;
  margin-top: 15px;
}
.catalog-item {
  margin-right: 40px;
  margin-top: 60px;
  position: relative;
}
.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eee;
  top:-39px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover .catalog-hover {
  display: block;
}
.catalog-item:hover{
  box-shadow: 0px 7px 9px -3px #cfcfcf;
}
 .catalog-item:hover::before {
  background-color: #4d4d4d;
}
.catalog-item-link {
  cursor: pointer;
  text-decoration: underline;
}

.catalog-item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  left: 50px;
  top: -25px;
  box-shadow: 25px 0 0 0 #fff,
  -25px 0 0 0 #fff;
}
.catalog-hover {
  position: absolute;
  height: 235px;
  width: 100%;
  background-color: #eee;
  box-sizing: border-box;
  margin-top: 350px;
  z-index: 10;
  bottom: 0;
  display: none;
}

.catalog-hover-wrp{
  display: block;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 18px;
  text-align: center;
  width: 215px;
}

.catalog-title-icon {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.catalog-title-icon:hover,
.catalog-title-icon:focus {
  color: #FB565A;
}

.catalog-title-icon:active{
  color: #000000;
  opacity: 0.4;
}
.catalog-discription {
  font-size: 16px;
  line-height: 18px;
  color: #939393;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.catalog-logo {
  width: 160px;
  margin-top: 50px;
}

.catalog-item-header {
  background-color: var(--basic-gray-light);
}
.Button-catalog-list:hover,
.Button-catalog-list:focus {
  background-color: #E74246;
}

.Button-catalog-list:active{
  background-color: #D7373B;

}
/* Pagination */
.pagination-list {
 display: block;
 padding-left: 0;
 margin-top: 50px;
 margin-bottom: 60px;
}
.pagination-item {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 6px;
}
.pagination-item:last-child {
  margin-right: 0;
  padding-right: 65px;
  padding-left: 65px;
}

.pagination-item a {
  display: block;
  padding: 13px 19px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
  text-transform: uppercase;
}
.pagination-item a:hover,
.pagination-item a:focus{
  background-color: #DFDFDF;
}
.pagination-item a:active {
  background-color: #D5D5D5;
}
.pagination-item .page-active {
  padding: 13px 19px;
  border: 2px solid #f1f1f1;
  background-color: #fff;
  cursor: default;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -300px;
  padding-bottom: 85px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 960px;
  height: 590px;
  background-color: #fff;
  box-shadow: -1px 12px 19px -5px #000;
  display: none;
}
.modal-show {
  display: block;
  animation: bounce .5s;
}

.modal-wrp {
  padding-top: 70px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
}

.modal-title {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
}
.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 30px;
}
.modal-text {
  display: inline-block;
  width: 360px;
}
.modal-text-comment {
  position: relative;
  margin-top: 30px;
}
.modal-input-mail {

}
.modal-error {
  animation: shake .6s;
}

.modal-input, .modal-comment {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  color: #a1a1a1;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  width: 360px;
  outline: none;
}
.modal-comment {
  width: 760px;
  height: 115px;
}
.modal-input:focus, .modal-comment:focus {
  color: #000;
  border: 2px solid #000;
}
.modal-input:hover, .modal-comment:hover {
   border: 2px solid #B4B9BB;
}
.modal-input:invalid, .modal-comment:invalid {
  box-shadow: none;
  color: #e74246;
  border: 2px solid #e74246;
}
.modal-close {
  position: absolute;
  font-size: 0;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  background: none;
  background-image: url("../img/close-cross.png");
  opacity: 0.3;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.1;
}
.btn {
  position: absolute;
  bottom: 75px;
  background-color: #fb565a;
  width: 260px;
  border: 0;
}

.btn:active, .btn:focus {
  outline: none;
}
@keyframes bounce
{
    0%
    {
                transform: translateY(-2000px);
    }
    70%
    {
                transform: translateY(30px);
    }
    90%
    {
                transform: translateY(-10px);
    }
    100%
    {
                transform: translateY(0);
    }
}
@keyframes shake
{
    0%,
    100%
    {
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
                transform: translateX(10px);
    }
}
