
:root {
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-gray-light:#E1E1E1;
  --basic-white: #FFFFFF;

  --special-pink: #FB565A;
  --special-pink-dark:#E74246;
  --special-pink-extra:#D7373B;
  --special-green: #00CA74;
  --special-green-dark: #00BC6C;
  --special-green-extra:#00AA62;
  --special-yellow: #EFC849;
  --special-yellow-dark: #EAB534;
  --special-yellow-extra: #E5A722;
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height:auto;
}

/* Grid */
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */
.main-hedder-logo{
  margin-left:  70px;
  width: 139px;
  margin-top: 50px;

}
.main-hedder {
  width:100%;
  background-color: var(--basic-gray);
}
.main-hedder h1 {
  width: 745px;
  margin-left: 348px;
  align-items: center;
  font-weight: 500px;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}
 /*Conteiner
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;*/


/* Main navigation*/
.main-navigations {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /*margin-top: 50px;*/
  align-items:flex-start;
  min-height: 70px;
}


.main-navigation-wrapper {
  width: auto;
}
/*  margin-bottom: 50px;*/
  margin-bottom: 50px;
  background-color: var(--basic-gray);
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-navigations a {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}
.main-navigations ul {
  padding: 10px;
  list-style: none;
}
.site-navigation {
  display: flex;
  width: 850px;
  margin-top: 75px;
  margin-bottom: 9px;
  margin-left: 202px;
  padding: 0;
  list-style: none;
}
.site-navigation li {
  margin-right: 20px;
}
.site-navigation a: not ([href]){
  background-color: var(--basic-gray);
}
/* Login link */
.user-navigation {
  margin-top: 85px;
  margin-bottom: 9px;
  width: 150px;
}
/*basket-link*/
.basket-link:before{
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation .basket-link {
  padding-left: 50px;
  position: relative;
}
/* User navigation */
.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}
.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--special-pink);
}
.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* slaider */
.slider {
  width: 900px;
  position: absolute;
  padding-top: 321px;
  text-align: center;
  color: var(--basic-black);
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  margin-bottom:80px;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}
.slaider-item {
  width: 440px;
  padding: 0;
}
.slaider-item h3 {
  font-size: 55px;
  line-height: 55px;
}
.slaider-item p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 40px
}
.slide {
  display: none;
}
.slide-current {
  display: flex;
}
.slider-controls .current {
  background-color: #ffffff;
}
.slide-wrapper-1 {
  background-image: url("../img/nerds-index-slide1-1.png");
  position: absolute;
  width: 760px;
  height: 431px;
  left: 537px;
  top: 114px;
}

.site-wrapper-2 {
  background-color: var(--basic-gray);
  background-image: url("../img/nerds-index-slide2-1-1.png");
}

.site-wrapper-3 {
  background-color: var(--basic-gray);
  background-image: url("../img/nerds-index-slide3-1.png");
}
.button-slaider {
  padding: 16px 54px;
  margin-top: 38px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--special-pink);
  color: var(--basic-white);
  border-radius: 3px;
}
.button-slaider:hover{
  background-color: var(--special-pink);
}
.button-slaider:focus{
  background-color: var(--special-pink-dark);
}
.button-slaider:active{
  background-color: var(--special-pink-extra));
}
.slider-controls {
  position: absolute;
  width: 88px;
  height: 18px;
  left: 676px;
  top: 431px;
  z-index: 20;
}
.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.social-navigation{
  display: flex;
  width: 240px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 68px;
  padding: 0;
  font-size: 0;
}


.social-navigation a:hover {
  background-color: var(--special-pink);
}
.social-navigation a:focus {
  background-color: var(--special-pink-dark);
}
.social-navigation a:active {
  background-color: var(--special-pink-extra);
}

/* Projects */
.Projects {
  margin-left: 70px;
  margin-bottom: 80px;
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.projects-item {
  text-align: left;

}
.project-item h3 {
  front-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


/* Button */
.Button {
   display: inline-block;
   vertical-align: top;
   font-size: 12px;
   line-height: 18px;
   padding: 10px 40px;
   text-decoration: none;
   text-transform: uppercase;
   background-color: var(--special-pink);
   color: var(--basic-white);
   border-radius: 3px;
}
.Button-navigation a:focus,
.Button-navigation a:hover {
  background-color: var(--special-pink-dark);
}
.Button-navigation a:active {
  background-color: var(--special-pink-extra);
}
.Button-green {
  background-color: var(--special-green);
}
.Button-green-navigation a:active {
  background-color: var(--special-green-extra);
}
.Button-green-navigation a:focus,
.Button-green-navigation a:hover {
  background-color: var(--special-green-dark);
}

.Button-yellow {
  background-color: var(--special-yellow);
}
.Button-yellow-navigation a:focus,
.Button-yellow-navigation a:hover {
  background-color: var(--special-yellow-dark);
}
.Button-yellow-navigation a:active {
  background-color: var(--special-yellow-extra);
}
.Button-catalog-show {
  margin-top: 40px;
  margin-left: 70px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 45px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--basic-gray-light);
  border-radius: 5px;
  border: none;
  outline: none;;
}
.main-footer {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  position: relative;
  margin-top: 83px;
}
.footer-social {
  display: flex;
  flex-direction: row;
  padding: 60px 0;
  margin-top: 65px;
  text-align: center:
}
.footer-social ul {
  list-style: none;
}
.footer-social h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
/* social-button*/
.social {

}
.social-link {
  display: inline-block;
  margin-right: 30px;
  width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-gray-light);
  border-radius: 50%;
}
.social-text {
  order: 2;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  width: 660px;
}
.social-text span {
  display: flex;
  width: 660px;
  font-size: 36px;
  line-height: 36px;
}
.social-text p {
  display: flex;
  width: 373px;
}
/*.social-icon-vk {
  font-size: 23px;
  text-align: center;
  line-height: 60px;
  vertical-align: baseline;

}*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Filters */
.filter {
  margin-top: 133px;
  width: 260px;
}
.filter legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}
.filter li {
  margin-bottom: 15px;
}
.filter li input {
 type: radio;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 46px;
  border: none;
}
.filter legend {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*catalog*/

.page-catalog {
  display: flex;
  flex-direction: row;

}
.catalog {
  margin-left: 140px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 133px;
  margin-bottom: 25px;
 list-style: none;
}
.catalog-item {
  width: 360px;
  min-height: 580px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.catalog-logo {
  width: 160px;
  margin-top: 50px;
  margin-left: 70px;
}
